<html>
{% load custom_tags %}
{% load static %}

<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<head>
  <title>Shop Owner</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }

    // function sub(a,b) {
    //   var c
    //   document.write(c);
      
    // }
  </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }

    .delete-button {
      background-color: red;
      color: white;
      }

    .GoingBackButton {
      top:60%;
      left:75%;
      width:200px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 255, 0); 
      }
    
     </style>

</head>

<body>
<p>Your current shops are: </p>
{% for shop, adv in list %}
  <h1>{{ shop.name }}</h1>
    <p>Address: {{ shop.address }}</p>
  <form action="" method="get" onsubmit="location.reload()">
    <input type="hidden" value="{{ shop.ids }}" name="ShopIDs"/>
    <p>People in queue: {{ shop.queue }}  {% if shop.queue > 0 %} <input type="submit" name="QueueList" value="Show queue"> {% endif %}</p>
    {% if shop.queue > shop.max_numb_clients %}
      <p><font color="red">Exceeding the maximum number of clients in the shop</font></p>
    {% endif %}
    <p>Rating: {{ shop.rating }}</p>
    <p>Number of ratings: {{ shop.num_reviews }}</p>
    <input type="submit" name="ADDbtn" value="ADD customer without Iqueue" style="font-size: smaller;">
    <input type="submit" name="DECbtn" value="DEC customer without Iqueue" style="font-size: smaller;">
    <input type="submit" name="Delete_shop" value="Delete this shop" class="delete-button">
    <br>
    {% if shop.queue > 0 %}
      <p>Scan the products of the people you are serving (The customer must be registered in Iqueue!): 
      <input type="submit" name="SCANbtn" value="SCAN products"></p>
    {% endif %}
    {% if accounts|length > 0 and shop == actual_shop%}
        <br>
        <br>
         <label for="customer">Select the customer:</label>
         <select name="customer">
            {% for account in accounts %}
                <option value="{{ account.idc }}">{{ account.surname }}, {{ account.name }} </option>
            {% endfor %}
         </select>
         <input type="hidden" value="{{ account.idc }}" name="account_id">
         <input type="submit" name="Obtained" value="Submit" class="Obtained">
    {% endif %}
    <br>
    <input type="submit" name="SHOWpds" value="Show Products">
    {% if adv %}
      <p><b>This shop has been advertised</b>: from {{ adv.date_start }} to {{ adv.date_end }}</p>
      <input type="submit" name="Delete_adv" value="Delete the advertisement" class="delete-button">
    {% endif %}
  </form>
  {% empty %}
  <h1>No shops registered yet</h1>
{% endfor %}
<br>
<p>Do you want to register a new shop?</p>
<button onclick="window.location.href='NewShop'"> Register a new shop </button>



<!-- 
MOSTRARE CODA
INCREMENTARE/DECREMENTARE PERSONE IN CODA -->

<input type="button" class="GoingBackButton" onclick="Redirect('ShopOwner/');" value="Going back to ShopOwner view" style="font-size: smaller;"/>
<input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" /><!-- DA SISTEMARE POSIZIONE--->

</body>
</html>
