<!DOCTYPE html>
{% load static %}

<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>
  <h1>Warning</h1>
  <p>Oops! This product is registered as terminated</p>
  <br>
  <p>If it is not terminated, please insert the correct quantity by going on the product page, modify products</p>

<script>
    setTimeout(function() {
      window.location.href = '/ShopOwner/MyShops/';
    }, 10000);
  </script>
</body>
</html>