<!DOCTYPE html>
{% load static %}

<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<html>
<head>
  <title>List of the purchased items</title>

    <title>Wishlist</title>
    <style>
    #map {
      height: 400px;
      width: 100%;
    }

    .anybutton {
      top: 75%;
      left: 75%;
      width: 100px;
      height: 40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255);
    }

    .GoingBackButton {
      top: 69%;
      left: 75%;
      width: 200px;
      height: 40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 255, 0);
    }

    .popup {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Your purchase list:</h1>
  <ul>
    {% for item in items %}
      <li>Item: "{{ item.name }}" || Purchased date: {{ item.date_of_purchase }} || Shop: "{{ item.shop }}" || Location: {{ item.address }} || Price: {{ item.price }} Euro</li>
      {% empty %}
       <h1>No product in the purchase list</h1>
    {% endfor %}
  </ul>

<input type="button" class="GoingBackButton" onclick="Redirect('Customer/');" value="Going back to Customer view"  style="font-size: smaller;"/>
<input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" />

<script>
  function Redirect(url) {
      location.replace("http://127.0.0.1:8000/" + url);
    }
</script>
</body>
</html>