<html>
  {% load static %}

  <!doctype html>
  <html lang="en">
    <meta charset="utf-8">
    
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
<head>
  <title>Shop list</title>
</head>
<script>
  setTimeout(function() {
    location.replace("http://127.0.0.1:8000/ShopOwner/") ;
  }, 5000);
</script>
<body>
  <h1>Registration successfull!</h1>
  <p>The advertisement period will end the {{ date }}</p>
  <br>
  <p>You will be redirected shortly...</p>
</body>
</html>