<html>
  {% load static %}

  <!doctype html>
  <html lang="en">
    <meta charset="utf-8">
    
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
<head>
  <title>Wish List</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }

    // function sub(a,b) {
    //   var c
    //   document.write(c);
      
    // }
  </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }

    .GoingBackButton {
      top:60%;
      left:75%;
      width:200px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 255, 0); 
      }
    
  </style>
    
     

</head>

<body>
<h1>WishList</h1>

<p>
    Your current product in the wish list are:
</p>
  {% for item1, item2, item3 in list %}
    <h1>{{ item2 }}</h1>
    <a href="data:image/png;base64,{{ item1.img }}" download>
      <img src="data:image/png;base64,{{ item1.img }}" alt="QR Code">
    </a>
    <br>
    <p>{{ item3 }}<form action=" " method="get">  {% csrf_token %} <input type="hidden" value= {{item1.ids}} name="ids"/>   <input type="submit" name="Guide" value="Guide me to the shop!"> </form>
    </p>
    <p>You have make a reservation for the {{item1.date}} between {{item1.time_start}} and {{item1.time_end}} </p>
    <p>Your position in the queue is: {{item1.number}}</p>
    <br>
    <!-- DA FARE CANCELLAZIONE
    <form action=" " method="get" onsubmit="location.reload()">
      <input type="hidden" value={{shop.ids}} name="ShopIDs"/>
      <input type="submit" name="ADDbtn" value="ADD customer without Iqueue">
      <input type="submit" name="DECbtn" value="DEC customer without Iqueue">
    </form> -->
    {% empty %}
    <h1>No product in the wish list</h1>
    <a href="/Customer/">Go back to the main view</a>
  {% endfor %}

  <br>
  <p>Do you want to add a product to the wish list?</p>
  <button onclick="window.location.href='AddToWishList'"> Add a product to the wish list </button>



  <input type="button" class="GoingBackButton" onclick="Redirect('Customer/');" value="Going back to Customer view"style="font-size: smaller;" />
  <input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" />

</body>
</html>