<html>
<head>
  <title>bakery list</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }
 </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }
    
     </style>
</head>

<!--Vedere se fare un solo file html-->

<body>
  <h1>Slot Booking</h1>
  <form method="POST" enctype="multipart/form-data">
    {{Shop_and_day_selectionForm}}
    {% csrf_token %}
    <label for="shop">Select a shop:</label>
    <select name="shop" >
      {% for shop in shops %}
        <option value="{{ shop.name }}">{{ shop.name }}</option>
      {% endfor %}
    </select>

    <label for="date">Select a day:</label>
    <input type="date" name="date" id="date" required>

    <input type="submit" value="Visualizza slot disponibili">
  </form>

    {% if slots %}
      <h2>Available slots:</h2>
      <ul>
        {% for slot in slots %}
          <li> {{ slot.start }} - {{ slot.end }}</li>
        {% endfor %}
     </ul>
    {% else %}
      <p>No slot available for this day.</p>
    {% endif %}

  <h1>Select a slot</h1>
  <form method="POST" enctype="multipart/form-data">
    {{TimeSlot_selectionForm}}
    {% csrf_token %}
    <label for="selected_slot">Select a slot:</label>
    <select name="selected_slot" >
      {% for slot in slots %}
        <option value="{{ slot.start }} - {{ slot.end }}">{{ slot.start }} - {{ slot.end }}</option>
      {% endfor %}
    </select>
  
    <button type="submit" class="btn btn-primary text-white mt-3 fPersian">Submit</button>
  </form>

  <p>You have booking at {{ booking.date }}</p>
</body>
</html>