<html>
<head>
  <title>bakery list</title>
</head>

<body>
  <h1>
    <p>
    The bakeries are:
    {% for shop in shop %}
        <table>
          <tr> 
            <td>{{ shop.name }}</td>
            <td>{{ shop.location }}</td>
            <td>{{ shop.address }}</td>
          </tr>
        </table> 
    {% endfor %}
    </p>
  </h1>

  
  <h1>
    <p>
    What bakery do you want to choose?
    <br>
     <label for="name">Name:</label>
     <input type="text" name="name" id="name">
     <br>
     <button onclick="window.location.href='/Booking/'"> Select</button>
     <br>
    </p>
  </h1>
</body>
</html>