<html>
<body>

    <h1>Prenotazione Slot</h1>
<form method="POST" action="{% url 'bookingSubmit' %}">
    {% csrf_token %}
    <label for="shop">Seleziona un negozio:</label>
    <select name="shop" >
      {% for shop in shops %}
        <option value="{{ shop.name }}">{{ shop.name }}</option>
      {% endfor %}
    </select>

    <label for="date">Seleziona una data:</label>
    <input type="date" name="date" id="date" required>

    <br/>
    <button type="submit" class="btn btn-primary text-white">Continue</button>
</form>
</body>
</html>