<html>
<head>
  <title>Customer</title>
</head>
<body>
  <h1>Select shop category you want to visit</h1>
  <button onclick="window.location.href='/registration/SelectRole/Customer/bakery'">Bakery </button>
  <br>
  <button onclick="window.location.href='/registration/SelectRole/Customer/clothes'">Clothes</button>
  <br>
  <button onclick="window.location.href='/registration/SelectRole/Customer/perfumery'">Perfumery</button>
  <br>
  <button onclick="window.location.href='/registration/SelectRole/Customer/hair_saloon'">Hair Saloon</button>
  <br>
  <button onclick="window.location.href='/registration/SelectRole/Customer/other'">Others</button>
  <br>

</body>
</html>