<html>
<head>
  <title>Customer</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }
 </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }
    
     </style>

</head>

<body>
  <h1>Select shop category you want to visit</h1>
  <form method="POST">
    {% csrf_token %}
    
      <label for="bakery"> Bakery</label>
      <input type="radio" id="category" name="category" value="bakery">
      <br>
      <label for="clothes"> Clothes</label>
      <input type="radio" id="category" name="category" value="clothes">
      <br>
      <label for="perfumery"> Perfumery</label>
      <input type="radio" id="category" name="category" value="perfumery">
      <br>
      <label for="hair_saloon"> Hair Saloon</label>
      <input type="radio" id="category" name="category" value="hair_saloon">
      <br>
      <label for="others"> Other</label>
      <input type="radio" id="category" name="category" value="others">
      <br>
  
    <input type="submit" value="Select">
  </form>
  <input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" />

</body>
</html>