<html>
<head>
  <title>Customer</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }
 </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }
    
     </style>

</head>

<body>
  <h1>Select shop category you want to visit</h1>
  <button onclick="window.location.href='bakery'">Bakery </button>
  <br>
  <button onclick="window.location.href='clothes'">Clothes</button>
  <br>
  <button onclick="window.location.href='perfumery'">Perfumery</button>
  <br>
  <button onclick="window.location.href='hair_saloon'">Hair Saloon</button>
  <br>
  <button onclick="window.location.href='other'">Others</button>
  <br>
  <input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" />

</body>
</html>