<html>
<head>
  <title>Shop Owner</title>
  
  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }
 </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }
    
     </style>

</head>

<body>
  <h1>Select an option</h1>
  <button onclick="window.location.href='Selection/'">See shops </button>
  <br>
  <button onclick="window.location.href='Reservations/'">MyReservations</button>
  <br>
  <button onclick="window.location.href='WriteReview'">Write a review</button>
  <br>
  

  <input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" />

</body>
</html>