<html>
  {% load static %}

  <!doctype html>
  <html lang="en">
    <meta charset="utf-8">
    
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
<head>
  <title>Delete Shop</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }

    // function sub(a,b) {
    //   var c
    //   document.write(c);
      
    // }
  </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }
    
     </style>

</head>

<body>
<h1>
    Are you sure that you want to delete shop?
</h1>
<form action=" " method="get" ">
  <input type="submit" name="Choice" value="Yes">
  <input type="submit" name="Choice" value="No">
</form>

<input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" /><!-- DA SISTEMARE POSIZIONE--->

</body>
</html>
