<!DOCTYPE html>
{% load static %}

<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your QR code is expired</title>
    <body>
      <h1>Error</h1>
      <p>Oops! Your QR code is expired</p>
    </body>
</head>
<body>

</body>
</html>