<html>
{% load custom_tags %}
<head>
  <title>Shop Owner</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }

    // function sub(a,b) {
    //   var c
    //   document.write(c);
      
    // }
  </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }

    .delete-button {
      background-color: red;
      color: white;
      }

    .GoingBackButton {
      top:60%;
      left:75%;
      width:200px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 255, 0); 
      }
    
     </style>

</head>

<body>
<p>
    Your current shops are:
</p>
{% for shop in shops %}
  <h1>{{ shop.name }}</h1>
  {% with queue_info=shop.checkQueue %}
    {% get_queue_info shop timeslots as queue_info %}
    <p>People in queue: {{ queue_info.0 }}</p>
    <p>Customers in queue: {{ queue_info.1|join:", " }}</p>
  {% endwith %}
  {% if shop.queue > shop.max_numb_clients %}
    <p><font color="red">Exceeding the maximum number of clients in the shop</font></p>
  {% endif %}
  <p>Rating: {{ shop.rating }}</p>
  <p>Number of ratings: {{ shop.numb_of_ratings }}</p>
  <form action="" method="get" onsubmit="location.reload()">
    <input type="hidden" value="{{ shop.ids }}" name="ShopIDs"/>
    <input type="submit" name="ADDbtn" value="ADD customer without Iqueue">
    <input type="submit" name="DECbtn" value="DEC customer without Iqueue">
    <br>
    <input type="submit" name="Delete" value="Delete this shop" class="delete-button">
  </form>
{% endfor %}
<br>
<p>Do you want to register a new shop?</p>
<button onclick="window.location.href='NewShop'"> Register a new shop </button>

<!-- 
MOSTRARE CODA
INCREMENTARE/DECREMENTARE PERSONE IN CODA -->

<input type="button" class="GoingBackButton" onclick="Redirect('ShopOwner/');" value="Going back to ShopOwner view" />
<input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" /><!-- DA SISTEMARE POSIZIONE--->

</body>
</html>
