<html>
<head>
  <title>Shop Owner</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }
 </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }
    
     </style>

</head>


<body>
  <h1>Shop selection</h1>
  <form method="POST">
    {{ ShopSelectionProductForm }}
    {% csrf_token %}
    <label for="shop">Select a shop:</label>
    <select name="shop">
      {% for shop in shops %}
        <option value="{{ shop.name }}">{{ shop.name }}</option>
      {% endfor %}
    </select>

    <button type="submit" name="btnform1">Confirm</button>
  </form>

  <form method="post">
    {{ ProductForm }}
      {% csrf_token %}
    <select name="shop">
      {% for shop in shops %}
        <option value="{{ shop.name }}">{{ shop.name }}</option>
                {% endfor %}
     </select>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="price">price:</label>
    <input type="number" name="price" id="price">
    <br>
    <label for="shop_discount">shop_discount </label>
    <input type="number" name="shop_discount" id="shop_discount">
    <br>
    
    <button type="submit" name="btnform2">Confirm</button>

  </form>

  <input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" />
</body>