<!DOCTYPE html>
{% load static %}

<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scannerizza QR Code</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }

    // function sub(a,b) {
    //   var c
    //   document.write(c);
      
    // }
  </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }
    
    .GoingBackButton {
      top:60%;
      left:75%;
      width:200px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 255, 0); 
      }
    
     </style>
     </style>


</head>

<body>
  <div id="scanner-container"></div>

  <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
  <script>
    var scanner = null; // Inizializza il riferimento al scanner


    function startScanning() {

      var videoElement = document.createElement('video');
      videoElement.id = 'scanner-video';
      document.getElementById('scanner-container').appendChild(videoElement);


      scanner = new Instascan.Scanner({ video: videoElement });

      scanner.addListener('scan', function(content) {

        sendQRCodeValue(content);
      });


      Instascan.Camera.getCameras().then(function(cameras) {
        if (cameras.length > 0) {
          // Avvia il scanner utilizzando la prima fotocamera disponibile
          scanner.start(cameras[0]);
        } else {
          console.error('Nessuna fotocamera trovata');
        }
      });
    }


    function sendQRCodeValue(qrCodeValue) {
      var form = document.createElement('form');
      form.setAttribute('method', 'post');
      form.setAttribute('action', '/ShopOwner/Scan/');

      var csrfToken = document.createElement('input');
      csrfToken.setAttribute('type', 'hidden');
      csrfToken.setAttribute('name', 'csrfmiddlewaretoken');
      csrfToken.setAttribute('value', '{{ csrf_token }}');

      var hiddenField = document.createElement('input');
      hiddenField.setAttribute('type', 'hidden');
      hiddenField.setAttribute('name', 'qrCodeValue');
      hiddenField.setAttribute('value', qrCodeValue);

      form.appendChild(csrfToken);
      form.appendChild(hiddenField);

      document.body.appendChild(form);
      form.submit();
    }


    document.addEventListener('DOMContentLoaded', startScanning);
  </script>

  <input type="button" class="GoingBackButton" onclick="Redirect('ShopOwner/');" value="Going back to ShopOwner view" />
  <input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" />

</body>
</html>