<!DOCTYPE html>
{% load static %}

<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scan Successful</title>
</head>
<body>
  <h1>Scan Successful</h1>
  <p>Your scan was successful.</p>

  <script>
    setTimeout(function() {
      window.location.href = '/ShopOwner/MyShops/';
    }, 2000);
  </script>
</body>
</html>