<html>
  {% load static %}

<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<head>
  <title>Shop Owner</title>
  
  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }
 </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }
    

    .ChangeRolebutton {
      top:60%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 255, 0); 
      }

 </style>

</head>

<body>
  <h1>ShopOwner View</h1>
  <h2>Select an option</h2>
  
  <button onclick="window.location.href='MyShops'">MyShops </button>
  <br>
  <button onclick="window.location.href='Product/'">Product</button>
  <br>
  <button onclick="window.location.href='Advertisement'">Advertisement</button>
  <br>
  <button onclick="window.location.href='Scan'">Scan QR</button>

  
  <input type="button" class="ChangeRolebutton" onclick="Redirect('login/SelectRole/');" value="Change Role" />
  <input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" />

</body>
</html>