<html>
<head>
  <title>Shop Owner</title>

  <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }
 </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255); 
      }
    
     </style>

</head>


<body>
  <form method="post">
      {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="address">Address:</label>
    <input type="text" name="address" id="address">
    <br>
    <label for="max_numb_clients">max_numb_clients:</label>
    <input type="text" name="max_numb_clients" id="max_numb_clients">
    <br>
    <label for="lat">location: latitude </label>
    <input type="number" name="lat" id="lat">
    <br>
    <label for="lon">location: longitude </label>
    <input type="number" name="lon" id="lon">
    <br>
    <label for="bakery"> Bakery</label>
    <input type="radio" id="category" name="category" value="bakery">
    <label for="clothes"> Clothes</label>
    <input type="radio" id="category" name="category" value="clothes">
    <label for="perfumery"> Perfumery</label>
    <input type="radio" id="category" name="category" value="perfumery">
    <label for="hair_saloon"> Hair Saloon</label>
    <input type="radio" id="category" name="category" value="hair_saloon">
    <label for="others"> Other</label>
    <input type="radio" id="category" name="category" value="others">
    <br>
    <label for="opening_time">Opening Time:</label>
    <input type="time" name="opening_time" id="opening_time">
    <br>
    <label for="closing_time">Closing Time:</label>
    <input type="time" name="closing_time" id="closing_time">
    <br>
    <label for="slot_duration">Slot Duration (in minutes):</label>
    <input type="number" name="slot_duration" id="slot_duration">
    <br>



    <input type="submit" value="Record">

  </form>

  <p>Your shop time slots will be defined for a year starting from now!</p>
  <br>
  <p>See your current shops</p>
  <button onclick="window.location.href='myshops'">Myshops </button>

  <input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" />
</body>