<!DOCTYPE html>
{% load static %}

<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<html>
<head>
  <title>Products in the shop</title>

    <script type="text/javascript">
    function Redirect(url) {
       location.replace("http://127.0.0.1:8000/"+url);
    }

    // function sub(a,b) {
    //   var c
    //   document.write(c);

    // }
  </script>

  <style>

    .anybutton {
      top:75%;
      left:75%;
      width:100px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 183, 255);
      }

    .delete-button {
      background-color: red;
      color: white;
      }

    .GoingBackButton {
      top:60%;
      left:75%;
      width:200px;
      height:40px;
      position: absolute;
      z-index: 2;
      background: rgb(0, 255, 0);
      }

     </style>
</head>
<body>
  <h1>Products in the shop</h1>
  {% if products %}
    <ul>
      {% for product in products %}
        <li>{{ product.name }} - Price: {{ product.price }} - Quantity: {{ product.quantity }} - You are applying a discount of: {{ product.shop_discount}} %</li>
          <form action="/ShopOwner/MyShops/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product_idp" value="{{ product.idp }}">
            <input type="submit" name="Remove" value="Remove">
          </form>
      {% endfor %}
    </ul>
  {% else %}
    <p>No available</p>
  {% endif %}

<input type="button" class="GoingBackButton" onclick="Redirect('ShopOwner/');" value="Going back to ShopOwner view"style="font-size: smaller;" />
<input type="button" class="anybutton" onclick="Redirect('');" value="LogOut" /><!-- DA SISTEMARE POSIZIONE--->

</body>
</html>